.cardWrapper {
  @screen lg {
    max-height: 40rem;
  }
}
.focusCard {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    rgba(239, 67, 88, 0.6);
  box-shadow: 21.2226px 21.2226px 127.336px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
