.shipmentAddress1 {
  @apply relative;
  @apply pl-10;
  overflow: hidden;
  &::after {
    content: ' ';
    @apply h-full;
    @apply absolute;
    @apply border-dashed;
    @apply border-l;
    @apply border-gray-400;
    left: 3%;
    top: 50%;
  }
  &::before {
    @apply absolute;
    @apply w-5;
    @apply h-5;
    @apply rounded-full;
    @apply left-0;
    @apply top-0;
    @apply border;
    @apply border-4;
    @apply border-red-500;
    content: ' ';
    z-index: 2;
  }
}

.shipmentAddress2 {
  @apply relative;
  @apply pl-10;
  &::before {
    content: ' ';
    @apply h-full;
    @apply absolute;
    @apply border-dashed;
    @apply border-l;
    @apply border-gray-400;
    left: 3%;
    top: -100%;
  }
  &::after {
    @apply absolute;
    @apply bg-white;
    @apply w-5;
    @apply h-5;
    @apply rounded-full;
    @apply left-0;
    @apply top-0;
    @apply border;
    @apply border-4;
    @apply border-green-500;
    content: ' ';
  }
}
