.pageheader {
  @apply relative;
  @apply text-3xl;
  @apply mb-10;
  @apply font-extrabold;
  &:after {
    content: "";
    @apply w-20;
    @apply h-1;
    @apply rounded-lg;
    @apply bg-secondary;
    @apply absolute;
    bottom: -8px;
    left: 0;
  }
}
